* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
}


header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 0 8px 0px #66666640;

}

header>* {
    margin: 0 1em;
}

header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

header .logo h1 {
    font-size: 24px;

    color: #095B83;
}

header .logo .vector {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.1em;
}

header .logo .vector .upper {
    width: 24px;
    height: 8px;
    background-color: #095B83;
    border-radius: 1em;
}

header .logo .vector .lower {
    width: 8px;
    height: 24px;
    background-color: #11A8E6;
    border-radius: 1em;
}

.model {

    position: absolute;
    z-index: 4;
    height: 20em;
    border-radius: 5px;
    background-color: #FFFFFF;
    width: 20em;
    left: calc(50% - 10em);
    top: calc(50% - 10em);
    box-shadow: 2px 0 8px 0px #66666640;
    display: flex;
    align-items:  center;
    justify-content: center;
}

.model form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;

}

.model form input {
    width: 80%;
    height: 2.5em;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.404);
}

.backdrop {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
    z-index: 3;
    position: fixed;
    display: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}

main {
    width: 100%;
    display: flex;
}

main .card-list {

    margin: 1em;

    display: flex;
    flex-direction: column;
    gap: 1em;

}

main .card-list .card {
    background: linear-gradient(281.77deg, #BBE7FC 32.97%, #095B83 92.16%);
    color: white;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
    width: 256px;
    height: 128px;
    box-shadow: 2px 0 8px 0px #66666640;
}

main .card-list .card .card-body {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    margin: 0 auto;
}

main .card-list .card .no {

    font-size: 64px;

    font-weight: 700;
}

main .card-list .card .title {
    font-weight: 700;

    font-size: 1.2em;
}

main .card-list .card i {
    font-size: 8em;
    color: #095B8399;
    position: absolute;
    right: 0;
    top: 20%;
    transform: rotate(-25.1deg);
}

main .task-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    margin: 1em;

}

main .task-list .search {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    height: 55px;
    background-color: #FFFFFF;
    box-shadow: 2px 0 8px 0px #66666640;


    border-radius: 14px;


}

main .task-list .search i {
    font-size: 24px;
    color: #C8C8C8;
}

main .task-list .search input {
    width: 90%;
    border: none;
    outline: none;
    font-size: 18px;

}

main .task-list .search input::placeholder {
    color: #C8C8C8;
}

main .task-list .control-buttons {
    display: flex;
    gap: 1em;
}

.btn {
    padding: 1em 1.6em;
    background-color: #095B83;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
}

main .task-list .list {
    width: 100%;
    height: 60vh;
    padding: 1px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    overflow-y: auto;

}

main .task-list .list .task {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: #FFFFFF;
    box-shadow: 2px 0 8px 0px #66666640;
    border-radius: 12px;
    height: 80px;
    transition: all .17s ease-in-out;
}

main .task-list .list .task .check-box {
    border-radius: 50%;
    padding: 0.3em;
    font-size: 24px;
    color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.432);
    transition: all .17s ease-in-out;
}

main .task-list .list .task .task-body {
    width: 80%;

}

main .task-list .list .task .task-body input {
    outline: none;
    border: 1px solid #11A8E6;
    color: #11A8E6;
    ;
    border-radius: 4px;
    font-size: 18px;
    width: 100%;

}


main .task-list .list .task input:disabled {
    border: 1px solid transparent;
}


main .task-list .list .task .task-body p {
    font-size: 14px;
    color: #434343BF;
}

main .task-list .list .task .control {
    display: flex;
    width: 4em;
    align-items: center;
    justify-content: center;
    gap: 1em;

}

main .task-list .list .task .control .fa-pen-to-square {
    color: #11A8E6;
    filter: drop-shadow(0 0 4px #4444dd);
    transition: all .17s ease-in-out;
}

main .task-list .list .task:has(input:disabled) .control .fa-pen-to-square {
    color: #11A8E6;
    filter: none;
}

main .task-list .list .task .control .fa-trash {
    color: rgb(241, 36, 36);
}

main .task-list .list .done {
    background-color: #E3E3E380;
}

main .task-list .list .done .task-body input {
    text-decoration: line-through;
}

main .task-list .list .done .control .fa-pen-to-square {
    color: #818181 !important;
}

main .task-list .list .done .check-box {
    background-color: #11A8E6;
    color: white;
    border: 1px solid #11A8E6;
}



@media screen and (max-width:1280px) {
    .container {
        width: 100%;
    }
}


@media screen and (max-width:720px) {
    main{
        flex-direction: column;
    }

    main .card-list{

        flex-direction: row;
        flex-wrap: wrap;
    }
    main .card-list .card{
        width:167.99px;
        height: 83.03px;
        justify-content: center;
        align-items: center;
        
    }
    main .card-list .card .no{
        font-size: 50px;
    }
    main .card-list .card i {
        font-size: 6em;
    }
}